.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
  
}

button{
  margin: 30px;
  font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Outfit', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
  /* text-shadow: 5px 0 #020b18; */
  font-size: 8rem;
  color: #e2ebe8;
  border-radius: 37px;
  background-color: #519259;
}

h3{
  margin: 30px;
  font-family: 'Lobster';
  /* text-shadow: 5px 0 #a33f05; */
  font-size: 4rem;
  color: #a33f05;
  
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
